{% extends "base.html" %}
{% from "_macros.html" import pic, credit, split, yen with context %}
{% block bodyclass %}home{% endblock %}
{% block preload %}{% set a = assets[regions[0].hero] %}{% set ext = 'avif' if a.avif else 'webp' %}<link rel="preload" as="image" type="image/{{ ext }}" imagesrcset="{% for w in a.variants %}{{ root }}{{ a.path }}/{{ w }}.{{ ext }} {{ w }}w{{ ', ' if not loop.last }}{% endfor %}" imagesizes="100vw" fetchpriority="high">{% endblock %}
{% block jsonld %}<script type="application/ld+json">{{ jsonld|replace("<", "\\u003c")|safe }}</script>{% endblock %}
{% block tabbar %}
<nav class="tabbar" aria-label="セクション移動">
  {% for l in nav %}<a href="#{{ l.id }}" data-tab="{{ l.id }}"><svg viewBox="0 0 24 24" aria-hidden="true"><use href="#i-{{ l.id }}"/></svg><span>{{ l.label }}</span></a>{% endfor %}
</nav>
{% endblock %}
{% block main %}

{% include "home/hero.html" %}{# owner: B #}
{% include "home/intro.html" %}{# owner: A #}
{% include "home/map.html" %}{# owner: C #}
{% include "home/regions.html" %}{# owner: B #}
{% include "home/finder.html" %}{# owner: D #}
{% include "home/compare.html" %}{# owner: D #}
{% include "home/vs.html" %}{# owner: D #}
{% include "home/robust.html" %}{# owner: D #}
{% include "home/season.html" %}{# owner: C #}
{% include "home/prep.html" %}{# owner: A #}
{% include "home/credits.html" %}{# owner: A #}
{% endblock %}
